@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Themes */

.theme
{
	background: var(--background-primary);
	color: var(--font-color-primary);

	font-family: var(--font-family), monospace;
	font-optical-sizing: var(--font-optical-sizing);
	font-weight: var(--font-weight);
	font-style: var(--font-style);
}

.theme::selection
{
	background: var(--background-primary-selection);
	color: var(--font-color-primary-selection);
}

.dark-theme {
	--background-primary: rgb(40, 40, 40);
	--font-color-primary: white;
	--background-primary-selection: rgb(255, 255, 255);
	--font-color-primary-selection: rgb(0, 0, 0);
	--font-textShadow-color-left: rgba(0, 0, 0, 0.5);
	--font-textShadow-color-right: rgba(255, 0, 80, 0.3);
	--font-textShadow-color-left-soft: rgba(0, 0, 0, 0.25);
	--font-textShadow-color-right-soft: rgba(255, 0, 80, 0.15);
	--font-weight-normal: 200;
	--font-weight-bold: 600;
	--font-color-critical: rgb(200, 20, 20);
	--font-color-error: rgb(255, 90, 90);
	--font-color-warning: rgb(255, 255, 120);
	--font-color-information: var(--font-color-primary);
	--font-color-debug: rgb(0, 160, 220);
	--font-color-trace: rgb(0, 100, 160);
	--font-textshadow-critical: soft-textShadow;
	--font-textshadow-error: soft-textShadow;
	--font-textshadow-warning: soft-textShadow;
	--font-textshadow-information: textShadow;
	--font-textshadow-debug: soft-textShadow;
	--font-textshadow-trace: soft-textShadow;

	--effects-radial-z: 103;
	--effects-radial-background: radial-gradient(
		rgba(255, 255, 255, 0.1),
		rgba(0, 0, 0, 0.3) 120%);

	--font-family: "Roboto Mono", "Consolas", monospace;
	--font-optical-sizing: auto;
	--font-weight: var(--font-weight-normal);
	--font-style: normal;
}

.light-theme {
	--background-primary: rgb(200, 200, 200);
	--font-color-primary: rgb(80, 80, 80);
	--background-primary-selection: rgb(100, 100, 100);
	--font-color-primary-selection: rgb(200, 200, 200);
	--font-textShadow-color-left: rgba(80, 0, 255, 0.075);
	--font-textShadow-color-right: rgba(0, 0, 0, 0.075);
	--font-textShadow-color-left-soft: rgba(80, 0, 255, 0.0375);
	--font-textShadow-color-right-soft: rgba(0, 0, 0, 0.0375);
	--font-weight-normal: 400;
	--font-weight-bold: 800;
	--font-color-critical: rgb(150, 15, 15);
	--font-color-error: rgb(200, 40, 40);
	--font-color-warning: rgb(120, 120, 0);
	--font-color-information: var(--font-color-primary);
	--font-color-debug: rgb(0, 80, 160);
	--font-color-trace: rgb(0, 50, 100);
	--font-textshadow-critical: soft-textShadow;
	--font-textshadow-error: soft-textShadow;
	--font-textshadow-warning: soft-textShadow;
	--font-textshadow-information: textShadow;
	--font-textshadow-debug: soft-textShadow;
	--font-textshadow-trace: soft-textShadow;

	--effects-radial-z: 103;
	--effects-radial-background: radial-gradient(
		rgba(255, 255, 255, 0.1),
		rgba(0, 0, 0, 0.3) 120%);

	--font-family: "Roboto Mono", "Consolas", monospace;
	--font-optical-sizing: auto;
	--font-weight: var(--font-weight-normal);
	--font-style: normal;
}

.onyx-theme {
	--background-primary: rgb(0, 0, 0);
	--font-color-primary: rgb(255, 255, 255);
	--background-primary-selection: rgb(255, 255, 255);
	--font-color-primary-selection: rgb(0, 0, 0);
	--font-textShadow-color-left: rgba(255, 0, 100, 0.5);
	--font-textShadow-color-right: rgba(0, 100, 255, 0.5);
	--font-textShadow-color-left-soft: rgba(255, 0, 100, 0.25);
	--font-textShadow-color-right-soft: rgba(0, 100, 255, 0.25);
	--font-weight-normal: 200;
	--font-weight-bold: 600;
	--font-color-critical: rgb(200, 20, 20);
	--font-color-error: rgb(255, 75, 75);
	--font-color-warning: rgb(255, 255, 155);
	--font-color-information: var(--font-color-primary); /*rgb(85, 240, 135)*/
	--font-color-debug: rgb(0, 160, 220);
	--font-color-trace: rgb(60, 120, 180);
	--font-textshadow-critical: soft-textShadow;
	--font-textshadow-error: soft-textShadow;
	--font-textshadow-warning: soft-textShadow;
	--font-textshadow-information: textShadow;
	--font-textshadow-debug: soft-textShadow;
	--font-textshadow-trace: soft-textShadow;

	--effects-radial-z: 99;
	--effects-radial-background: radial-gradient(
		rgba(255, 255, 255, 0.125),
		rgba(0, 0, 0, 0) 120%);

	--font-family: "Roboto Mono", "Consolas", monospace;
	--font-optical-sizing: auto;
	--font-weight: var(--font-weight-normal);
	--font-style: normal;
}

.matrix-theme {
	--background-primary: rgb(0, 10, 0);
	--font-color-primary: rgb(0, 255, 0);
	--background-primary-selection: rgb(0, 255, 0);
	--font-color-primary-selection: rgb(0, 0, 0);
	--font-textShadow-color-left: rgba(255, 0, 0, 0.25);
	--font-textShadow-color-right: rgba(0, 0, 255, 0.25);
	--font-textShadow-color-left-soft: rgba(255, 0, 0, 0.125);
	--font-textShadow-color-right-soft: rgba(0, 0, 255, 0.125);
	--font-weight-normal: 600;
	--font-weight-bold: var(--font-weight-normal);
	--font-color-critical: var(--font-color-primary);
	--font-color-error: var(--font-color-primary);
	--font-color-warning: var(--font-color-primary);
	--font-color-information: var(--font-color-primary);
	--font-color-debug: var(--font-color-primary);
	--font-color-trace: var(--font-color-primary);
	--font-textshadow-critical: textShadow;
	--font-textshadow-error: textShadow;
	--font-textshadow-warning: textShadow;
	--font-textshadow-information: textShadow;
	--font-textshadow-debug: textShadow;
	--font-textshadow-trace: textShadow;

	--effects-radial-z: 99;
	--effects-radial-background: radial-gradient(
		rgba(0, 255, 0, 0.225),
		rgba(0, 0, 0, 0.2) 120%);

	--font-family: "Roboto Mono", "Consolas", monospace;
	--font-optical-sizing: auto;
	--font-weight: var(--font-weight-normal);
	--font-style: normal;
}

/* Main -> Body */

html {
	font-size: 17px;
}

html, body, #root, #root > .theme
{
	height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

#root > * > .body
{
	max-height: calc(100% - 12vh);
	height: 100%;
	padding: 6vh 4vw;
}

#root > .theme
{
	border-radius: 0;
}

.theme {
	border-radius: 0.125rem;
}

.body {
	max-height: calc(100% - 4vh);
	padding: 1em;
	display: flex;
	flex-direction: column;
	white-space: pre-wrap;
	word-break: break-all;
	overflow-wrap: anywhere;
	overflow: hidden;
}

.body > .loglist
{
	height: 100%;
}

.body > .input-text-box {
	height: max-content;
}

/* Main -> Inputs */

.input-text-box
{
	padding: 0.5rem 0;
	display: flex;
	flex-direction: row;
	animation: textShadow 1s infinite;
}

textarea {
	background: inherit;
	color: inherit;
	font-family: inherit;
	font-optical-sizing: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
	animation: inherit;
	padding: 0;
	border: none;
	outline: none;
	width: 100%;
	caret: var(--background-primary-selection) block;
	resize: none;
	field-sizing: content;
}

/* Main -> Logs */

pre {
	padding: 0;
	margin: 0;
	white-space: pre-wrap;
	word-break: break-all;
	overflow-wrap: anywhere;
	overflow: hidden;
	font-family: inherit;
	font-optical-sizing: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: inherit;
}

.loglist
{
	overflow: hidden scroll;
}

.loglist::-webkit-scrollbar
{
	display: none;
}

.loglist > * {
	margin: 0 0 1em;
}

.loglevel-critical {
	color: var(--font-color-critical);
	font-weight: var(--font-weight-bold);
	animation: var(--font-textshadow-critical) 1s infinite;
}

.loglevel-error {
	color: var(--font-color-error);
	font-weight: var(--font-weight-bold);
	animation: var(--font-textshadow-error) 1s infinite;
}

.loglevel-warning {
	color: var(--font-color-warning);
	font-weight: var(--font-weight-normal);
	animation: var(--font-textshadow-warning) 1s infinite;
}

.loglevel-information {
	color: var(--font-color-information);
	font-weight: var(--font-weight-normal);
	animation: var(--font-textshadow-information) 1s infinite;
}

.loglevel-debug {
	color: var(--font-color-debug);
	font-weight: var(--font-weight-normal);
	animation: var(--font-textshadow-debug) 1s infinite;
}

.loglevel-trace {
	color: var(--font-color-trace);
	font-weight: var(--font-weight-normal);
	animation: var(--font-textshadow-trace) 1s infinite;
}

/* CRT Effects */

.radial {
	z-index: var(--effects-radial-z);
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: var(--effects-radial-background);
	pointer-events: none;
}

.flicker {
	z-index: 102;
	position: fixed;
	pointer-events: none;
	width: 100%;
	height: 100%;
	background: rgba(9, 8, 8, 0.1);
	animation: flicker 0.33s infinite;
}

.light-flicker {
	z-index: 102;
	position: fixed;
	pointer-events: none;
	width: 100%;
	height: 100%;
	background: rgba(9, 8, 8, 0.1);
	animation: light-flicker 0.33s infinite;
}

.scanline {
	z-index: 101;
	position: fixed;
	width: 100%;
	height: 2px;
	top: 0;
	opacity: 75%;
	background: rgba(0, 0, 0, .15);
	animation: scanline 7.77s linear infinite;
	pointer-events: none;
}

.scanlines {
	z-index: 100;
	position: fixed;
	width: auto;
	min-width: 100%;
	height: 100%;
	background: linear-gradient(
		rgba(18, 16, 16, 0) 50%,
		rgba(0, 0, 0, 0.25) 50%),
	linear-gradient(90deg, rgba(255, 0, 0, 0.06),
		rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}

@keyframes flicker {
	0% {
		opacity: 0.119;
	}
	5% {
		opacity: 0.02841;
	}
	10% {
		opacity: 0.35748;
	}
	15% {
		opacity: 0.88852;
	}
	20% {
		opacity: 0.9408;
	}
	25% {
		opacity: 0.35088;
	}
	30% {
		opacity: 0.22426;
	}
	35% {
		opacity: 0.26418;
	}
	40% {
		opacity: 0.09249;
	}
	45% {
		opacity: 0.35312;
	}
	50% {
		opacity: 0.89436;
	}
	55% {
		opacity: 0.9574;
	}
	60% {
		opacity: 0.19754;
	}
	65% {
		opacity: 0.05086;
	}
	70% {
		opacity: 0.12137;
	}
	75% {
		opacity: 0.75791;
	}
	80% {
		opacity: 0.89617;
	}
	85% {
		opacity: 0.90183;
	}
	90% {
		opacity: 0.20657;
	}
	95% {
		opacity: 0.64125;
	}
	100% {
		opacity: 0.78042;
	}
}

@keyframes light-flicker {
	0% {
		opacity: 0.119;
	}
	5% {
		opacity: 0.02841;
	}
	10% {
		opacity: 0.35748;
	}
	15% {
		opacity: 0.28852;
	}
	20% {
		opacity: 0.3408;
	}
	25% {
		opacity: 0.45088;
	}
	30% {
		opacity: 0.42426;
	}
	35% {
		opacity: 0.26418;
	}
	40% {
		opacity: 0.39249;
	}
	45% {
		opacity: 0.45312;
	}
	50% {
		opacity: 0.29436;
	}
	55% {
		opacity: 0.1574;
	}
	60% {
		opacity: 0.39754;
	}
	65% {
		opacity: 0.45086;
	}
	70% {
		opacity: 0.22137;
	}
	75% {
		opacity: 0.35791;
	}
	80% {
		opacity: 0.29617;
	}
	85% {
		opacity: 0.10183;
	}
	90% {
		opacity: 0.20657;
	}
	95% {
		opacity: 0.34125;
	}
	100% {
		opacity: 0.28042;
	}
}

@keyframes scanline {
	0% {
		top: 99%;
	}
}

@keyframes scanlines {
	0% {
		background-position: 0 50%;
	}
}

@keyframes textShadow {
	0% {
		text-shadow: 0.4389924193300864px 0 1px var(--font-textShadow-color-left), -0.4389924193300864px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	5% {
		text-shadow: 2.7928974010788217px 0 1px var(--font-textShadow-color-left), -2.7928974010788217px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	10% {
		text-shadow: 0.02956275843481219px 0 1px var(--font-textShadow-color-left), -0.02956275843481219px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	15% {
		text-shadow: 0.40218538552878136px 0 1px var(--font-textShadow-color-left), -0.40218538552878136px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	20% {
		text-shadow: 3.4794037899852017px 0 1px var(--font-textShadow-color-left), -3.4794037899852017px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	25% {
		text-shadow: 1.6125630401149584px 0 1px var(--font-textShadow-color-left), -1.6125630401149584px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	30% {
		text-shadow: 0.7015590085143956px 0 1px var(--font-textShadow-color-left), -0.7015590085143956px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	35% {
		text-shadow: 3.896914047650351px 0 1px var(--font-textShadow-color-left), -3.896914047650351px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	40% {
		text-shadow: 3.870905614848819px 0 1px var(--font-textShadow-color-left), -3.870905614848819px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	45% {
		text-shadow: 2.231056963361899px 0 1px var(--font-textShadow-color-left), -2.231056963361899px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	50% {
		text-shadow: 0.08084290417898504px 0 1px var(--font-textShadow-color-left), -0.08084290417898504px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	55% {
		text-shadow: 2.3758461067427543px 0 1px var(--font-textShadow-color-left), -2.3758461067427543px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	60% {
		text-shadow: 2.202193051050636px 0 1px var(--font-textShadow-color-left), -2.202193051050636px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	65% {
		text-shadow: 2.8638780614874975px 0 1px var(--font-textShadow-color-left), -2.8638780614874975px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	70% {
		text-shadow: 0.48874025155497314px 0 1px var(--font-textShadow-color-left), -0.48874025155497314px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	75% {
		text-shadow: 1.8948491305757957px 0 1px var(--font-textShadow-color-left), -1.8948491305757957px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	80% {
		text-shadow: 0.0833037308038857px 0 1px var(--font-textShadow-color-left), -0.0833037308038857px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	85% {
		text-shadow: 0.09769827255241735px 0 1px var(--font-textShadow-color-left), -0.09769827255241735px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	90% {
		text-shadow: 3.443339761481782px 0 1px var(--font-textShadow-color-left), -3.443339761481782px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	95% {
		text-shadow: 2.1841838852799786px 0 1px var(--font-textShadow-color-left), -2.1841838852799786px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
	100% {
		text-shadow: 2.6208764473832513px 0 1px var(--font-textShadow-color-left), -2.6208764473832513px 0 1px var(--font-textShadow-color-right), 0 0 3px;
	}
}

@keyframes soft-textShadow {
	0% {
		text-shadow: 0.4389924193300864px 0 1px var(--font-textShadow-color-left-soft), -0.4389924193300864px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	5% {
		text-shadow: 2.7928974010788217px 0 1px var(--font-textShadow-color-left-soft), -2.7928974010788217px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	10% {
		text-shadow: 0.02956275843481219px 0 1px var(--font-textShadow-color-left-soft), -0.02956275843481219px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	15% {
		text-shadow: 0.40218538552878136px 0 1px var(--font-textShadow-color-left-soft), -0.40218538552878136px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	20% {
		text-shadow: 3.4794037899852017px 0 1px var(--font-textShadow-color-left-soft), -3.4794037899852017px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	25% {
		text-shadow: 1.6125630401149584px 0 1px var(--font-textShadow-color-left-soft), -1.6125630401149584px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	30% {
		text-shadow: 0.7015590085143956px 0 1px var(--font-textShadow-color-left-soft), -0.7015590085143956px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	35% {
		text-shadow: 3.896914047650351px 0 1px var(--font-textShadow-color-left-soft), -3.896914047650351px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	40% {
		text-shadow: 3.870905614848819px 0 1px var(--font-textShadow-color-left-soft), -3.870905614848819px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	45% {
		text-shadow: 2.231056963361899px 0 1px var(--font-textShadow-color-left-soft), -2.231056963361899px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	50% {
		text-shadow: 0.08084290417898504px 0 1px var(--font-textShadow-color-left-soft), -0.08084290417898504px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	55% {
		text-shadow: 2.3758461067427543px 0 1px var(--font-textShadow-color-left-soft), -2.3758461067427543px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	60% {
		text-shadow: 2.202193051050636px 0 1px var(--font-textShadow-color-left-soft), -2.202193051050636px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	65% {
		text-shadow: 2.8638780614874975px 0 1px var(--font-textShadow-color-left-soft), -2.8638780614874975px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	70% {
		text-shadow: 0.48874025155497314px 0 1px var(--font-textShadow-color-left-soft), -0.48874025155497314px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	75% {
		text-shadow: 1.8948491305757957px 0 1px var(--font-textShadow-color-left-soft), -1.8948491305757957px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	80% {
		text-shadow: 0.0833037308038857px 0 1px var(--font-textShadow-color-left-soft), -0.0833037308038857px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	85% {
		text-shadow: 0.09769827255241735px 0 1px var(--font-textShadow-color-left-soft), -0.09769827255241735px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	90% {
		text-shadow: 3.443339761481782px 0 1px var(--font-textShadow-color-left-soft), -3.443339761481782px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	95% {
		text-shadow: 2.1841838852799786px 0 1px var(--font-textShadow-color-left-soft), -2.1841838852799786px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
	100% {
		text-shadow: 2.6208764473832513px 0 1px var(--font-textShadow-color-left-soft), -2.6208764473832513px 0 1px var(--font-textShadow-color-right-soft), 0 0 3px;
	}
}
